<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Styles/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/navigation.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/Scripts/jquery-3.0.0.min.js")"></script>

    <title>user settings</title>
    @inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

    <script>
        var rootFolder = "@Url.Content("~/")";

        window.onload = function () {
            //document.getElementById("brettpit-searchbox").focus();
            search();
        }

        var oldVal = undefined;
        function search() {
            var searchTerm = $("#tbSearchUser").val();
            if (searchTerm === oldVal) {
                return;
            }

            oldVal = searchTerm;

            $.get(rootFolder + "administration/searchUser?searchTerm=" + searchTerm).done(function (data) {
                $("#partialPlaceHolderUser").html(data);
            }).fail(function (error) {
                console.log(error);
            });
        }

    </script>
</head>
<body>
    @Html.Partial("navigation", Model)
    <div class="brettpit-content-container">
        <div class="brettpit-boxwrap">
            <div id="admin-form" class="brettpit-content-box">
                @if (Model.permission)
                {
                    <div class="brettpit-admin-usersbox">
                        <input id="tbSearchUser" class="brettpit-textbox-admin-users" placeholder="Search for user" type="text" onkeyup="search()" autocomplete="off" />
                        <div id="partialPlaceHolderUser" class="brettpit-admin-users-table"></div>
                    </div>
                    <div class="brettpit-admin-gamesbox">
                        <input class="brettpit-textbox-admin-users" placeholder="Search for games" type="search" hidden />
                        <div class="brettpit-admin-games-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Tabletop Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Edit
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var game in Model.AllGames)
                                    {
                                        <tr>
                                            <form method="post" action="">
                                                <td class="brettpit-admin-table-usercol">
                                                    <input name="gamename" value="@game.Name" class="brettpit-textbox-admin-games">
                                                </td>
                                                <td class="brettpit-admin-table-admincol">
                                                    <input name="gamedescription" value="@game.Description" class="brettpit-textbox-admin-games">
                                                </td>
                                                <td class="brettpit-admin-table-deletecol">
                                                    <button class="brettpit-button-admin-change" name="ChangeGame" type="submit" value="@game.Id" formaction="~/administration/changegame">Save</button>
                                                </td>
                                            </form>
                                            <td class="brettpit-admin-table-deletecol">
                                                <form method="post" action="">
                                                    <button class="brettpit-button-admin-delete" name="DeleteGame" type="submit" value="@game.Id" formaction="~/administration/deletegame" onclick="return confirm('Are you sure?')">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <form method="post" action="">
                                            <td>
                                                <input class="brettpit-textbox-admin-games" name="addGameName" placeholder="New game">
                                            </td>
                                            <td>
                                                <input class="brettpit-textbox-admin-games" name="addGameDesc" placeholder="Description">
                                            </td>
                                            <td colspan="2">
                                                <button id="Addgame" class="brettpit-button-admin-addgame" name="AddGame" type="submit" formaction="~/administration/addgame">Add</button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <label>permission denied</label>
                }
            </div>
        </div>
    </div>
</body>
</html>
