<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Games</title>
    @inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
        <script>
            function reloadPage()
            {
                location.reload();
            }
        </script>
</head>
<body>
    <div>
        @if (@Html.IsAuthenticated)
        {
            <div>Bereits eingelogt als @Html.CurrentUser.UserName</div>
            @*<div><br />email: @Model.Email</div>*@
        }
        else
        {
            <div>Bitte einloggen</div>
        }
    </div>
    <div>
        Games here<br />

        First Game: @Model.game<br /><br />
        all Games: <br />
        <table border="1">
            <tr>
                <td align="right" colspan="3">
                    <input name="GamesFilter" type="checkbox" checked="@Model.filter" value="@Model.filter" onclick="reloadPage()" />Show my games only
                </td>
            </tr>
            @if(Model.filter)
            {
                @foreach (var item in Model.gamelist)
                {

                    <tr>
                        <td width=0%>
                            @item.id
                        </td>
                        <td width=30%>
                            @item.name
                        </td>
                        <td width=70%>
                            @item.description
                        </td>
                    </tr>
                }
            }
            else
            {
                @foreach (var item in Model.gamelist)
                {

                    <tr>
                        <td width=0%>
                            @item.id
                        </td>
                        <td width=70%>
                            @item.name
                        </td>
                        <td width=30%>
                            @item.description
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>