@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<table>
    <tr>
        <th class="brettpit-user">User</th>
        <th class="brettpit-isadmin">Admin</th>
        <th class="brettpit-delete">Delete</th>
        <th class="brettpit-resetpw">Reset Pwd</th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td class="brettpit-user">@item.UserName</td>
            <td class="brettpit-isadmin">
                <form method="post" action="~/administration/changeadmin">
                    <input type="text" hidden value="@item.Id" name="chAdmStateUid"/>
                    <input class="brettpit-checkbox-admin-users" name="IsAdmin" type="checkbox"  checked="@item.IsAdmin" onChange="this.form.submit()" />
                </form>
            </td>
            <td class="brettpit-delete">
                <form method="post" action="">
                    <button class="brettpit-button-admin-delete" name="DeleteUser" type="submit" value="@item.Id" formaction="~/administration/deleteuser" onclick="return confirm('Are you sure?')">Delete</button>
                </form>
            </td>
            <td class="brettpit-resetpw">
                <form method="post" action="">
                    <button class="brettpit-button-admin-change" name="ResetPw" type="submit" value="@item.Id" formaction="~/administration/resetpw" onclick="return confirm('Are you sure?')">Reset</button>
                </form>
            </td>
        </tr>
    }
</table>